{% extends '_base.html.twig' %}
{% block pageTitle %} Home Page {% endblock %}

{% block main %}
    <main>
        <h3><a href="/proposeTag">Propose a new tag</a></h3>
        <h3><a href="/viewProposedTags">View and vote on proposed tags</a></h3>
        <h3><a href="/proposeRef">Propose a new REF</a></h3>
        <h3><a href="/viewBibs">View Public and Published Bibs or create a Bib</a></h3>
        <h3><a href="/viewRefs">View or search Refs / Add Refs to Your Bibs</a></h3>
        <h3><a href="/modifyUsersBibsIndex">View / Update My Bibs</a></h3>

    </main>


{% endblock %}