th,
td {
    width: 10rem;
    text-align: center;
    padding: 0.2rem;
}

table,
th,
td {
    border: 1px solid black;
}

i {
    color: #dd4444;
}

a:hover {
    background-color: lightslategray;
    color: white;
}

a {
    color: inherit;
    text-decoration: none;
}

.inlineBlock {
    display: inline-block;
}

.flex1 {
    flex: 1;
}

.flexContainer {
    display: flex;
    text-align: center;
}

.button {
    border-style: outset;
    display: inline-block;
    text-align: center;
}

.checkboxlist {
    height: 4em;
    width: 12em;
    overflow: auto;
}