<!doctype html>
<html lang="en">
<head>
    <style>
        @import '/css/style.css';
        @import '/css/nav.css';
    </style>
    <title>{% block pageTitle %}{% endblock %}</title>
</head>

<body>
<header>
    <h1 class="headingContainer">Bibliography Manager</h1>

    <section class="blockContainer">
        <nav>
            <ul>
                {% if role == 1 or role == 2 %}
                <li>
                    <a href="/studentLecturerIndex">Home</a>
                </li>
                {% else %}
                <li>
                    <a href="/">Home</a>
                </li>
                {% endif %}
                <li>
                    <a href="/login">Login</a>
                </li>
                <li>
                    <a href="/logout">Logout</a>
                </li>
            </ul>
        </nav>
    </section>
</header>

{% block main %}
{% endblock %}
<footer>
    <hr>
    <a href="mailto:B00084443@student.itb.ie">Email</a>
    Kevin Drennan B00084443
    <p>you are logged in as: <strong> {{ collegeId }}</strong></p>
</footer>
</body>
</html>