{% extends '_base.html.twig' %}
{% block pageTitle %} Lecturer Page {% endblock %}


{% block main %}
    <main>
        <a href="/logout">Logout</a>

<p>Lecturer Page</p>
        <a href="/proposeTag">Create a new tag</a>



    </main>


{% endblock %}