{% extends '_base.html.twig' %}
{% block pageTitle %} Student Page {% endblock %}


{% block main %}
    <main>
        <a href="/logout">Logout</a>
        <a href="/proposeTag">Create a new tag</a>
        <p>student page</p>
    </main>


{% endblock %}