
{% extends '_base.html.twig' %}
{% block pageTitle %} Home Page {% endblock %}

{% block main %}
<main>
    <h3><a href="/proposeTag">Propose a new tag</a></h3>
    <h3><a href="/viewProposedTags">View and vote on proposed tags</a></h3>
    <h3><a href="/proposeRef">Propose a new REF</a></h3>
    <h3><a href="/viewRefs">View or search Refs</a></h3>

</main>


{% endblock %}
