<!DOCTYPE html>
<html lang="en">

<head>
    <title> Maths4Kids </title>
    <meta charset="utf-8">
    <style>

    </style>
</head>

<body>

<header>

</header>

<main>

    <nav>
        <a href="/index.php?action=additionIndex">Addition</a>
        <a href="../public/index.php?action=subtractionIndex">Subtraction</a>
        <a href="../public/index.php?action=shop">Shop</a>
        <a href="../public/index.php?action=clock">Clock</a>
    </nav>
</main>
<footer>
    <hr>
    <a href="mailto:B00084443@student.itb.ie">Email</a>
    Kevin Drennan B00084443
    <a href="index.html.twig?action=sitemap">sitemap</a>
</footer>
</body>
</html>
