{% extends '_base.html.twig' %}
{% block pageTitle %} Login Page {% endblock %}


{% block main %}
<main>
    <h1>whoops - something went wrong</h1>
    <p>
        {{ errorMessage }}
    </p>
</main>
{% endblock %}