
{% extends '_base.html.twig' %}
{% block pageTitle %} New tag {% endblock %}


{% block main %}
    <main>
        <form  action="/processProposedTag" method="post">

            <p>
                New Tag :
                <br>
                <input type="text" name="proposedTag" autocomplete="off" required>
            </p>

            <p>
                Description:
                <br>
                <textarea rows="6" cols="80" name="tagDescription" required>
                </textarea>
            </p>



            <input type="submit" value="submit">
        </form>
        <p>Your tag will be forwarded for decision and can be publicly voted on by entering the view and vote on tags page</p>
        <br>
        <i>{{ message }}</i>
    </main>
{% endblock %}